@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@layer components {
  .hover-effect {
    @apply hover:-translate-y-[1.5px] active:translate-y-[1px] transition-transform duration-300 cursor-pointer;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
